.no-button {
  border: 3px solid $no-color;
}

.no-button:active{
  background-color: $button-color;
  animation-name: no-color;
  animation-duration: .2s;
  animation-direction: alternate;
}

@keyframes no-color {
  from {background-color: $button-color;}
  to {background-color: $no-color;}
}