//Colors
$dark-brown: rgb(207, 205, 187);
$light-brown: rgb(230, 228, 211);
$font-light-color: rgb(77, 77, 77);
$button-color: lighten($dark-brown, 20%);
$yes-color: rgb(181, 230, 179);
$no-color: rgb(219, 121, 121);

//Spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$lx-size: 4.8rem;
$lxx-size: 7.8rem;
$s-size: 1.2rem;

$desktop-breakpoint: 45rem;

//fonts
$header-font: 'Playfair Display', serif;